<select class="url-c url-text" id="jk" title="如发现视频无法正常播放请尝试更换视频线路！">

                            <option value="https://jx.aidouer.net/?url=">
                                默认
                            </option>
                            <option selected="" value="https://okjx.cc/?url=">
                                解析接口(一)
                            </option>
                            <option value="https://jx.parwix.com:4433/player/?url=">
                                解析接口(二)
                            </option>
                            <option value="https://vip.bljiex.com/?v=">
                                解析接口(三)
                            </option>
                            <option value="https://jx.yparse.com/index.php?url=">
                                解析接口(四)
                            </option>
                            <option value="https://sb.5gseo.net/?url=">
                                解析接口(五)
                            </option>
                            <option value="https://www.1717yun.com/jx/ty.php?url=">
                                解析接口(六)
                            </option>


<!--                            <option value="https://vip.parwix.com:4433/player/?url=">-->
<!--                                默认一-->
<!--                            </option>-->
<!--                            <option value="https://jiexi.t7g.cn/?url=">-->
<!--                                网友推荐-->
<!--                            </option>-->
<!--                            <option value="https://thinkibm.now.sh/?url=">-->
<!--                                线路六-->
<!--                            </option>-->
<!--                            <option value="https://jiexi.linzhiyuan.xyz/jiexi/?url=">-->
<!--                                高清解析-->
<!--                            </option>-->
<!--                            <option value="https://123.1dior.cn/?url=">-->
<!--                                B站解析-->
<!--                            </option>-->
<!--                            <option value="https://vip.bljiex.com/?v=">-->
<!--                                B站解析-->
<!--                            </option>-->
<!--                            <option value="https://jx.m3u8.tv/jiexi/?url=">-->
<!--                                B站解析-->
<!--                            </option>-->
                            <!--                        <option value="https://jx.yparse.com/index.php?url=">-->
                            <!--                            失效请反馈-->
                            <!--                        </option>-->
                            <!--                        <option value="http://jx.rdhk.net/?v=">-->
                            <!--                            失效请反馈-->
                            <!--                        </option>-->
                            <!--                        <option value="http://k8aa.com/jx/index.php?url=">-->
                            <!--                            手机有广告-->
                            <!--                        </option>-->
                            <!--                        <option value="https://123.1dior.cn/?url=">-->
                            <!--                            手机有广告-->
                            <!--                        </option>-->
                            <!--                        <option value="https://jx.jiubojx.com/vip/?url=">-->
                            <!--                            手机有广告-->
                            <!--                        </option>-->
                            <!--                        <option value="https://jsap.attakids.com/?url=">-->
                            <!--                            手机有广告-->
                            <!--                        </option>-->
                            <!--                        <option value="https://sb.5gseo.net/?url=">-->
                            <!--                            不知道叫啥-->
                            <!--                        </option>-->
                            <!--                        <option value="https://jx.hao-zsj.cn/vip/?url=">-->
                            <!--                            失效请反馈-->
                            <!--                        </option>-->
                            <!--                        <option value="https://www.1717yun.com/jx/ty.php?url=">-->
                            <!--                            失效请反馈-->
                            <!--                        </option>-->
                            <!--                        <option value="https://okjx.cc/?url=">-->
                            <!--                            B站解析-->
                            <!--                        </option>-->
                            <!--                        <option value="https://www.ckmov.com/?url=">-->
                            <!--                            讯讯解析-->
                            <!--                        </option>-->
                        </select>